.body_backgorund 
{
    background-color: lightgreen;
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width:10px;
    background-color: rgb(56, 55, 35); 
    border-style:ridge;
}

h2
{
	background: #33b775;
	color: white;
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
span
{
	font-size: 22px;
	color: white;
}
a
{
	text-decoration: none;
	color: white;
	font-size: 20px;
}